#hero {
  background-image: url("./Assets/windows.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.scroll-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* test */